



.textoDerechoR{
  text-align:justify;
  margin: 10px 20px;
font-size: 17px;
  color:rgb(246, 246, 246);
}

.subtitulo{
  margin-left: 10px;
}

@media (max-width: 575.98px) { 

  article img.imgPrincipal{
    margin-top: 7%;
    width: 60%;
    margin-left: 20%;
    
  
  }
  .textoDerechoR{

    text-shadow: 2px 2px 2px black;
  }
  
}