



.textoDerechoR{
  text-align:justify;
  margin: 10px 20px;
font-size: 17px;
  color:rgb(246, 246, 246);
}

.subtitulo{
  margin-left: 10px;
}

@media (max-width: 575.98px) { 

  article img.imgPrincipal{
    margin-top: 3%;
    width: 60%;
    margin-left: 20%;
    
  
  }
  .textoDerechoR{

    text-shadow: 2px 2px 2px black;
  }
  .subtitulo{
    margin-top: 20%;
    font-size: 20px;

  }
  #tituloTres,#tituloCuatro,.paso,.ul1{
    font-size: 19px;
    margin-left: 3%;
    text-shadow: 2px 2px 2px rgb(236, 236, 236);
  }

  
}

.no{
  margin: 10px;
}
.ul1{
  margin: 10px;
  text-shadow: 2px 2px 3px rgb(81, 76, 76);
  margin-bottom: 30px;
}